# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Project specific
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
dist/
build/
*.egg-info/
